// Layout Section ofertas de banco

.ctn-ofertas-banco{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}
.oferta-banco{
    display: flex;
    flex-wrap: wrap;
    a{
        width: 100%;
    }
    img{
        width: 158px;
    }
}