.columna6{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.columna3 {
    width: 22.9%;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.columna6 , .columna3{
  height: 426px;
  margin: 36px 0;
}
