.columna6 {
    width: 48%;

}
.columna3 {
    width: 22.9%;

}
.columna6 , .columna3{
  height: 426px;
  margin: 36px 8px 0px 0;
  display: inline-block;
  vertical-align: top;
}


.scrollhorizontal {
  @media @for-phone{
    overflow: auto;
    white-space: nowrap;
  }

}
