.owl-carousel .owl-dots .owl-dot {
    position: relative;
    top: -40px;
    @media @for-phone{
      top: -9px;
      left: -43%;
    }
}
.owl-carousel .owl-dots .active span {
    background-color: var(--primary-color1) !important;
}

.owl-carousel.rotativeBanner .owl-nav button.owl-next, .owl-carousel.rotativeBanner .owl-nav button.owl-prev {
  @media @for-phone{
    bottom: 0px !important;
    background: transparent !important;
    padding: 26px 16px !important;
  }
}

.owl-carousel.rotativeBanner .owl-nav button.owl-prev {
  @media @for-phone{
    left: 75%;
  }
}

.owl-carousel.js-adglare-carousel {
    background: var(--button-primary-background-color-disabled) !important;
}

.transparente .owl-carousel.js-adglare-carousel {
    background: transparent;
}

.contenedor_home .carousel__rotativeBanner, .carousel__rotativeBanner .owl-stage-outer, .carousel__rotativeBanner .rotativeBanner {
    background: transparent !important;
}

.carousel__rotativeBanner .rotativeBanner {
    background: var(--button-primary-background-color-disabled);
}
