.owl-carousel .owl-dots .owl-dot {
    position: relative;
    top: -40px;
    @media @for-phone{
        top: -53px;
    }
}
.owl-carousel .owl-dots .active span {
    background-color: var(--primary-color1) !important;
}
