.owl-carousel .owl-dots .owl-dot {
    position: relative;
    top: -40px;
    @media @for-phone{
      top: -9px;
      left: -139px;
    }
}
.owl-carousel .owl-dots .active span {
    background-color: var(--primary-color1) !important;
}

.owl-carousel.rotativeBanner .owl-nav button.owl-next, .owl-carousel.rotativeBanner .owl-nav button.owl-prev {
  @media @for-phone{
    bottom: 250px !important;
    background: white !important;
    padding: 32px 16px !important;
  }
}
