.tab-filete-title-category {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 35px;
    padding: 0px;
    padding-left: 0px !important;
    height: 56px;
    text-align: center;
}

.tab-category {
    overflow: show;
    text-align: center;
    margin: 0 auto;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
