.ctn-banner-big {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #444444;
    background: linear-gradient(to right, #cccccc, #ffffff);
}

.info-banner-big {
    width: 45%;
    text-align: right;
}

.logo-banner-big {
    background: var(--primary-color1);
    width: 60%;
    max-width: 192px;
    margin-left: auto;
    padding: 10px;
}

.title-banner-big {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 0px;
}

.title-banner-big>p>span {
    color: var(--primary-color1);
}

.title-banner-big>span {
    font-size: 12px;
    font-weight: normal;
}

.price-banner-big {
    margin-top: 17px;
    p {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        &:last-child{
            font-size: 28px;
    background: white;
    border: 1px solid var(--primary-color1);
    border-radius: 5px;
    padding: 0 8px;
        }
        span{
            color: var(--primary-color1);
        }
    }
}

.img-banner-big {
    width: 50%;
    display: flex;
    align-items: center;
}

.img-banner-big img {
    max-width: 100%;
}

.legal-banner-big {
    font-size: 8px;
    margin-top: 20px;
}