.ctn-banner-big {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #444444;
    background: linear-gradient(to right, #cccccc, #ffffff);
    position: relative;
    @media @for-tablet-landscape-up{
        height: 309px;
    }
    @media @for-desktop-up{
        height: 427px;
    }
}

.info-banner-big {
    width: 45%;
    text-align: right;
}

.logo-banner-big {
    background: var(--primary-color1);
    width: 60%;
    max-width: 192px;
    margin-left: auto;
    padding: 10px;
}

.title-banner-big {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 5px;
    @media @for-desktop-up{
        font-size: 30px;
        margin-top: 55px;
        line-height: 19px;
    }
}


.title-banner-big>p>span {
    color: var(--primary-color1);
    font-weight: bold;
}

.title-banner-big>span {
    font-size: 12px;
    font-weight: normal;
    @media @for-desktop-up{
        font-size: 28px;   
    }
}

.price-banner-big {
    margin-top: 17px;
    p {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        @media @for-desktop-up{
            font-size: 15px;
        }
        &:last-child{
            background: white;
            border-radius: 5px;
            border: 1px solid var(--primary-color1);
            color: var(--primary-color1);
            font-size: 28px;
            font-weight: bold;
            margin-left: auto;
            padding: 0 8px;
            width: 150px;
            @media @for-desktop-up{
                font-size: 38px;
                width: 210px;
            }
        }
        span{
            color: var(--primary-color1);
        }
    }
}

.img-banner-big {
    width: 50%;
    display: flex;
    align-items: center;
    img{
        max-width: 100%;
    }
}

.legal-banner-big {
    font-size: 8px;
    margin-top: 20px;
   @media @for-tablet-landscape-up {
       font-size: 15px;
   } 
}
.label-new{
    position: absolute;
    right: 0px;
    top: 30px;
    color: white;
    background: var(--primary-color2);
    font-size: 15px;
    padding: 3px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    p{
        margin: 0px;
    }
    @media @for-desktop-up{
        font-size: 22px
    }
}
.label-discount{
    position: absolute;
    right: 0px;
    bottom: 20px;
    color: white;
    background: #eb5b24;
    text-align: center;
    padding: 12px 5px 5px 5px;
    width: 85px;
    line-height: 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    p{
        font-size: 30px;
        margin: 0px;
        font-weight: bold;
    }
    span{
        font-size: 12px;
        font-weight: normal;
    }
    @media @for-desktop-up{
        padding: 22px 5px 5px 5px;
        width: 117px;
        p{
            font-size: 50px;
        }
        span{
            font-size: 15px;
        }
    }
}

.ocultar{
    display: @ocultar
}
